<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body bgcolor="#f3f3f3">

<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.6.0/two.js"></script>

<script>

    //  Label Color
    var ENABLED_LABEL_COLOR = "#828282";
    var DISABLED_LABEL_COLOR = "#bcbcbc";

    // Room Colors
    var DARK_COLOR = "#3e3e3e";
    var LIGHT_COLOR = "#ffa955";


    var initialHomeState = {
        'Living Room': $.parseJSON("{{home_status.LivingRoom}}"),
        'Bedroom': $.parseJSON("{{home_status.Bedroom}}"),
        'Hallway': $.parseJSON("{{home_status.Hallway}}"),
        'Kitchen': $.parseJSON("{{home_status.Kitchen}}"),
        'Stairway': $.parseJSON("{{home_status.Stairway}}")
    };
//     For testing html without template rendering
//    var initialHomeState = {
//        'Living Room': false,
//        'Bedroom': false,
//        'Hallway': false,
//        'Kitchen': false,
//        'Stairway': false
//    };
        var initialGuestMode = $.parseJSON("{{guest_mode}}");
        var initialPartyMode = $.parseJSON("{{party_mode}}");
        var initialMotionMode = $.parseJSON("{{motion_mode}}");
//
//     For testing html without template rendering
//    var initialGuestMode = true;
//    var initialPartyMode = false;
//    var initialMotiontMode = true;

    /* Local Testing */

    // Make an instance of two and place it on the page.
    var elem = document.getElementById('draw-shapes');
    var params = {fullscreen: true};
    var two = new Two(params).appendTo(document.body);

    var WIDTH = two.width;
    var HEIGHT = two.height;

    var LIVING_ROOM_WIDTH = 520 / 2;
    var LIVING_ROOM_HEIGHT = 340 / 2;

    var KITCHEN_ROOM_WIDTH = (520 - 91) / 2;
    var KITCHEN_ROOM_HEIGHT = 210 / 2;

    var HALL_WIDTH = 91 / 2;
    var HALL_HEIGHT = 396 / 2;

    var BEDROOM_HEIGHT = 325 / 2;

    var STAIRWAY_WIDTH = 120 / 2;
    var STAIRWAY_HEIGHT = 490 / 2;

    var BOTTOM_OFFSET = LIVING_ROOM_HEIGHT + KITCHEN_ROOM_HEIGHT + BEDROOM_HEIGHT;///* Bottom Edge */ + (0.5 * (HEIGHT - (LIVING_ROOM_HEIGHT + KITCHEN_ROOM_HEIGHT + BEDROOM_HEIGHT))) + (0.5 * LIVING_ROOM_HEIGHT);
    var LEFT_OFFSET = ((WIDTH - LIVING_ROOM_WIDTH - HALL_WIDTH) * .5) + LIVING_ROOM_WIDTH * 0.5;//((0.5 * WIDTH) - (LIVING_ROOM_WIDTH *.5));

    var KITCHEN_ROOM_LEFT_OFFSET = LEFT_OFFSET - ((LIVING_ROOM_WIDTH - KITCHEN_ROOM_WIDTH) * .5);
    var HALL_LEFT_OFFSET = KITCHEN_ROOM_LEFT_OFFSET + (KITCHEN_ROOM_WIDTH * .5) + (HALL_WIDTH * .5);

    var STAIRWAY_LEFT_OFFSET = HALL_LEFT_OFFSET + ((HALL_WIDTH * .5) + (STAIRWAY_WIDTH * .5));

    var livingRoom = two.makeRectangle(
            LEFT_OFFSET,
            BOTTOM_OFFSET,
            LIVING_ROOM_WIDTH,
            LIVING_ROOM_HEIGHT
    );

    var kitchen = two.makeRectangle(
            KITCHEN_ROOM_LEFT_OFFSET,
            BOTTOM_OFFSET - ((LIVING_ROOM_HEIGHT * .5) + (KITCHEN_ROOM_HEIGHT * .5)),
            KITCHEN_ROOM_WIDTH,
            KITCHEN_ROOM_HEIGHT
    );

    var hall = two.makeRectangle(
            HALL_LEFT_OFFSET,
            BOTTOM_OFFSET - ((LIVING_ROOM_HEIGHT * .5) + (HALL_HEIGHT * .5)),
            HALL_WIDTH,
            HALL_HEIGHT
    );

    var bedRoom = two.makeRectangle(
            KITCHEN_ROOM_LEFT_OFFSET,
            BOTTOM_OFFSET - ((LIVING_ROOM_HEIGHT * .5) + KITCHEN_ROOM_HEIGHT + (BEDROOM_HEIGHT * .5)),
            KITCHEN_ROOM_WIDTH,
            BEDROOM_HEIGHT
    );

    var stairWay = two.makeRectangle(
            STAIRWAY_LEFT_OFFSET,
            //((two.height - STAIRWAY_HEIGHT) * .5) + (STAIRWAY_HEIGHT * 0.496), // wtf
            BOTTOM_OFFSET - (.23 * BEDROOM_HEIGHT),
            STAIRWAY_WIDTH,
            STAIRWAY_HEIGHT
    );

    var labelHorizOffset = 95;

    var guestMode = two.makeText('Guest', ((WIDTH - LIVING_ROOM_WIDTH) * .5) + labelHorizOffset, (BOTTOM_OFFSET + (LIVING_ROOM_HEIGHT * 0.5)) + 20, {
        family: 'sans-serif',
        size: 12,
        leading: 0,
        fill: initialGuestMode ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR
    });

    var partyMode = two.makeText('Party', ((WIDTH - LIVING_ROOM_WIDTH) * .5) + labelHorizOffset + 40, (BOTTOM_OFFSET + (LIVING_ROOM_HEIGHT * 0.5)) + 20, {
        family: 'sans-serif',
        size: 12,
        leading: 0,
        fill: initialPartyMode ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR
    });

    var motionMode = two.makeText('Motion', ((WIDTH - LIVING_ROOM_WIDTH) * .5) + labelHorizOffset + 80, (BOTTOM_OFFSET + (LIVING_ROOM_HEIGHT * 0.5)) + 20, {
        family: 'sans-serif',
        size: 12,
        leading: 0,
        fill: initialMotiontMode ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR
    });

    updateUiWithHomeState(initialHomeState);

    $(livingRoom._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isOn = handleRoomClick('Living Room');
                livingRoom.fill = getColorForOnState(isOn);
                two.update();
            });

    $(bedRoom._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isOn = handleRoomClick('Bedroom');
                bedRoom.fill = getColorForOnState(isOn);
                two.update();
            });

    $(hall._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isOn = handleRoomClick('Hallway');
                hall.fill = getColorForOnState(isOn);
                two.update();
            });

    $(kitchen._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isOn = handleRoomClick('Kitchen');
                kitchen.fill = getColorForOnState(isOn);
                two.update();
            });

    $(stairWay._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isOn = handleRoomClick('Stairway');
                stairWay.fill = getColorForOnState(isOn);
                two.update();
            });

    $(motionMode._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isMotionMode = !initialMotionMode;
                setMotionMode(isMotionMode);
            });

    $(guestMode._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isGuestMode = !initialGuestMode;
                setGuestMode(isGuestMode);
            });

    $(partyMode._renderer.elem)
            .css('cursor', 'pointer')
            .click(function (e) {
                var isPartyMode = !initialPartyMode;
                setPartyMode(isPartyMode);
            });

    function handleRoomClick(roomName) {
        console.log(roomName + ' click!');
        var isOn = !initialHomeState[roomName];
        switchRoom(roomName, isOn);
        return isOn;
    }

    function getColorForOnState(isOn) {
        return isOn ? LIGHT_COLOR : DARK_COLOR;
    }

    function switchRoom(roomName, on) {
        /*if (roomName === 'Stairway' && on) {
            // Use the /arrive endpoint to turn on stariwell only for 30m
            $.ajax({
                type: "POST",
                url: "/arrive-local",
                dataType: "text",
                success: function (data) {
                    console.log('Arrive result ' + data);
                    initialHomeState[roomName] = on;
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        } else { */
            $.ajax({
                type: "POST",
                url: "/lights",
                data: JSON.stringify({'rooms': [{'name': roomName, 'on': on}]}),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (data) {
                    initialHomeState[roomName] = on;
                    console.log('Update room ' + roomName + ' with state ' + on);
                    console.log(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        //}
    }

        function setMotionMode(enabled) {
        $.ajax({
            type: "POST",
            url: "/motion-mode",
            data: JSON.stringify({'enabled': enabled}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                initialGuestMode = enabled;
                motionMode.fill = enabled ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR;
                two.update();
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    function setGuestMode(enabled) {
        $.ajax({
            type: "POST",
            url: "/guest-mode",
            data: JSON.stringify({'enabled': enabled}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                initialGuestMode = enabled;
                guestMode.fill = enabled ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR;
                two.update();
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    function setPartyMode(enabled) {
        $.ajax({
            type: "POST",
            url: "/party-mode",
            data: JSON.stringify({'enabled': enabled}),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                initialPartyMode = enabled;
                partyMode.fill = enabled ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR;
                // Toggling party mode also affects motion mode
                motionMode.fill = (!enabled) ? ENABLED_LABEL_COLOR : DISABLED_LABEL_COLOR;
                two.update();
                // Make sure party-mode state is propagated before polling
                setTimeout(updateHomeState, 1000);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    function updateHomeState() {
        $.ajax({
            type: "GET",
            url: "/home-state",
            dataType: "json",
            success: function (homeState) {
                console.log(homeState);
                initialHomeState = homeState;
                updateUiWithHomeState(homeState);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }

    function updateUiWithHomeState(homestate) {

        initialHomeState = homestate;

        livingRoom.fill = getColorForOnState(homestate['Living Room']);
        livingRoom.linewidth = 2;
        livingRoom.stroke = 'white';

        bedRoom.fill = getColorForOnState(homestate['Bedroom']);
        bedRoom.linewidth = 2;
        bedRoom.stroke = 'white';

        kitchen.fill = getColorForOnState(homestate['Kitchen']);
        kitchen.linewidth = 2;
        kitchen.stroke = 'white';

        hall.fill = getColorForOnState(homestate['Hallway']);
        hall.linewidth = 2;
        hall.stroke = 'white';

        stairWay.fill = getColorForOnState(homestate['Stairway']);
        stairWay.linewidth = 2;
        stairWay.stroke = 'white';

        // Don't forget to tell two to render everything
        // to the screen
        two.update();
    }

</script>

</body>
</html>
